@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: linear-gradient(90.04deg, #bdaaaa 0.03%,#322550 ,#000000 90.96%);
  color: #140535;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
}

.quiz-container {
  max-width: 500px;
  min-width: 250px;
  background: #696815;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 15%;
  padding: 30px 60px;
  border-radius: 3%;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #c5080e;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #beb6ca;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #cfdb8b;
  border: 2px solid #4e4301;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #000000 0.10%,#302d36 ,#000000 90.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
}

#home{
  margin-left: 20%;
  height: 80%;
  width: 60%;
}